<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ewf.escapewildfire">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.ewf.escapewildfire.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ewf.escapewildfire.MapActivity"
            android:parentActivityName="com.ewf.escapewildfire.MainActivity">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ewf.escapewildfire.MainActivity"/>
        </activity>

        <meta-data
            android:name="com.here.android.maps.appid"
            android:value="{YOUR_APP_ID}" />
        <meta-data
            android:name="com.here.android.maps.apptoken"
            android:value="{YOUR_APP_CODE}" />
        <meta-data
            android:name="com.here.android.maps.license.key"
            android:value="{YOUR_LICENSE_KEY}" />
        <service
            android:name="com.here.android.mpa.service.MapService"
            android:label="HereMapService">
            <intent-filter>
                <!--Note, action name should not be changed.-->
                <action android:name="com.here.android.mpa.service.MapService.v3" />
            </intent-filter>
        </service>
    </application>
</manifest>